Repository betagouv/france-chaleur-urbaine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Mise à jour de get-stream de 6.0.1 à 7.0.1
  package.json
  pnpm-lock.yaml
Due: none

Mise à jour de commander de 12.1.0 à 14.0.1
  package.json
  pnpm-lock.yaml
Due: none

Mise à jour de @faker-js/faker de 8.3.1 à 10.0.0
  package.json
  pnpm-lock.yaml
Due: none

Ajoute un script postinstall pour gagner de l'espace disque
  package.json
  scripts/postinstall.mjs
Due: prettier --write, git add -A

Update kysely
  package.json
  pnpm-lock.yaml
  src/server/db/kysely/base-model.ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Vire l'usage de docker sur scalingo
  .env
Due: none

feat: Migration d'ESLint vers la v9 avec flat config
  .eslintignore
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, git add -A

Désactive le message de promo dotenv
  .env
Due: none

Lint
  .eslintrc.json
  src/components/ComparateurPublicodes/useSimulatorEngine.tsx
  src/components/EligibilityForm/EligibilityContactForm.tsx
  src/components/EligibilityForm/EligibilityFormAddress.tsx
  src/components/EligibilityForm/EligibilityFormContact.tsx
  src/components/HeadSliceForm/HeadSliceForm.tsx
  src/components/Manager/DemandEmailForm.tsx
  src/components/Map/components/FileDragNDrop.tsx
  src/components/Map/components/MapSearchForm.tsx
  src/components/Map/components/SimpleMapLegend.style.tsx
  src/components/Network/EligibilityTestBox.tsx
  src/components/Statistics/Statistics.tsx
  src/components/assignment-rules/ExpressionTester.tsx
  src/components/form/Autocomplete.tsx
  src/components/ui/Newsletter.tsx
  src/components/ui/TableSimple.tsx
  src/components/ui/TileList.tsx
  src/module-declarations.d.ts
  src/modules/reseaux/server/geometry-updates.ts
  src/modules/reseaux/server/sync-pg-to-airtable.ts
  src/modules/tiles/server/service.ts
  src/pages/api/password/change.ts
  src/pages/reseaux/modifier.tsx
  src/server/services/tiles.ts
  src/services/heatNetwork.ts
  src/types/async.ts
  src/utils/cx.ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Supprime l'ancienne conf eslint
  .eslintrc.json
  eslint.config.mjs
Due: prettier --write, git add -A

Maj dépendances
  package.json
  pnpm-lock.yaml
Due: none

Maj eslint prettier
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, git add -A

Mise à jour des dépendances react-email, react-dsfr
  package.json
  pnpm-lock.yaml
Due: none

Ajoute une doc sur les spécificités du buildpack scalingo
  DEVELOPMENT.md
Due: none

Documente DOTENV_CONFIG_QUIET=true
  .env
Due: none

Fix typo encodage
  src/modules/pro-eligibility-tests/CLAUDE.md
Due: none

Déplace parseEnv dans utils/env
  src/server/config.ts
  src/utils/env.ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Corrige les commandes de lint
  .lintstagedrc
  package.json
Due: none

Revert @next/mdx to 15.3.2
  package.json
  pnpm-lock.yaml
Due: none

Ajoute doc sur markdown
  src/components/MarkdownWrapper/MarkdownWrapper.tsx
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Fixe le cron
  src/server/cron/cron.ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Fixe le pb d'hydration
  src/components/shared/page/SimplePage.tsx
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Affiche correctement si un evenement n'existe pas dans l'admin
  src/modules/events/client/AdminEventsPage.tsx
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Fixe la sauvegarde des configurations du comparateur
  src/server/db/kysely/base-model.ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Supprime lien obsolète
  src/components/shared/page/SimplePage.tsx
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Migre tailwind safelist flex-*
  src/styles/globals.css
  tailwind.config.ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Lint la config tailwind
  tailwind.config.ts
  tsconfig.json
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Passe tailwind en important par dessus le DSFR
  tailwind.config.ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Revert/fix l'import require de tailwindcss-animate
  tailwind.config.ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

N'importe pas tailwind dans TS
  eslint.config.mjs
  tailwind.config.ts
  tsconfig.json
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Ajoute du typage à la conf eslint
  eslint.config.mjs
Due: prettier --write, git add -A

Corrige les hauteurs de logos
  src/components/ComparateurPublicodes/Placeholder.tsx
  src/components/Network/Network.tsx
  src/pages/iframe/potentiel-creation-reseau/[[...slug]].tsx
  src/styles/globals.css
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

MAJ next 15.3.3 => 15.5.4
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/components/ComparateurPublicodes/ComparateurPublicodes.tsx
  src/components/ComparateurPublicodes/ModesDeChauffageAComparer.tsx
  src/components/ComparateurPublicodes/ParametresDuBatimentGrandPublic.tsx
  src/components/Map/map-events.tsx
  src/components/connexion/RegisterForm.tsx
  src/hooks/useInitialSearchParam.ts
  src/hooks/useReseauxDeChaleurFilters.tsx
  src/pages/_app.tsx
  src/pages/collectivites-et-exploitants/potentiel-creation-reseau/[[...slug]].tsx
  tsconfig.json
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Turbo au build !
  package.json
Due: none

Affiche la durée des jobs dans le suivi des tâches
  src/pages/admin/jobs.tsx
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Déplace la synchro des attributs geom en 1er
  src/modules/tiles/server/service.ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Met à jour rdc.has_PDP quand on maj un PDP
  src/modules/tiles/server/service.ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Fixe #YWH-PGM10356-36
  src/pages/api/auth/[...nextauth].ts
Due: eslint -c .eslintrc.json --fix, prettier --write, git add -A

Path conditions:
  eslint -c .eslintrc.json --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{mjs,js,jsx,ts,tsx}
  git add -A: any of: *.{mjs,js,jsx,ts,tsx}
