Repository betagouv/france-chaleur-urbaine: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, git add -A

Intègre biome
  .lintstagedrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  biome.json
  eslint.config.mjs
  knip.json
  next.config.ts
  package.json
  pnpm-lock.yaml
  scripts/cli.ts
  scripts/postinstall.mjs
  tsconfig.json
Due: eslint --fix, prettier --write, git add -A

Move typescript as main dependency...
  package.json
  pnpm-lock.yaml
Due: none

Utilise lint:ci et simplifie les commandes biome
  .github/workflows/ci.yml
  package.json
Due: none

Désactive noExplicitAny + json avec commentaires
  biome.jsonc
Due: none

Conf biome
  biome.jsonc
  src/components/ComparateurPublicodes/useSimulatorEngine.tsx
Due: eslint --fix, prettier --write, git add -A

Lint
  scripts/demands/addDalkiaTags.ts
  scripts/demands/addDepTags.ts
  src/components/Cities/City.tsx
  src/components/Cities/Dispositifs.tsx
  src/components/ComparateurPublicodes/Placeholder.tsx
  src/components/ConsentBanner/FacebookScript.tsx
  src/components/ConsentBanner/GoogleTagsScript.tsx
  src/components/ConsentBanner/HotjarScript.tsx
  src/components/ConsentBanner/LinkedInScript.tsx
  src/components/Coproprietaire/InterviewsVideos.tsx
  src/components/EligibilityHelpDialog.tsx
  src/components/GenericContent/IframeIntegration.tsx
  src/components/Slideshow.tsx
Due: eslint --fix, prettier --write, git add -A

fix(lint): add node: protocol to Node.js builtin module imports
  scripts/airtable/dump-schema.ts
  scripts/data-import/utils.ts
  scripts/simulateur/import.ts
Due: eslint --fix, prettier --write, git add -A

config(biome): disable useExhaustiveDependencies rule
  biome.jsonc
Due: none

fix(lint): replace == with === for strict equality checks
  scripts/stats/refresh.ts
  src/utils/validation.ts
Due: eslint --fix, prettier --write, git add -A

fix(lint): use literal keys instead of bracket notation
  scripts/simulateur/import.ts
  src/components/ComparateurPublicodes/mappings.ts
Due: eslint --fix, prettier --write, git add -A

fix(lint): replace array index with unique keys in React components
  src/components/Cities/City.tsx
  src/components/Cities/Dispositifs.tsx
Due: eslint --fix, prettier --write, git add -A

perf(lint): replace spread operator with direct mutation in reduce
  src/components/ComparateurPublicodes/ComparateurPublicodesWidget.tsx
  src/components/ComparateurPublicodes/Configuration.tsx
Due: eslint --fix, prettier --write, git add -A

config(biome): disable noShadowRestrictedNames rule temporarily
  biome.jsonc
Due: none

fix(lint): remove useless React fragments and fix related issues
  src/components/ComparateurPublicodes/ComparateurPublicodes.tsx
  src/components/EligibilityForm/EligibilityFormContact.tsx
  src/components/HeadSliceForm/HeadSliceForm.tsx
  src/components/Manager/Contact.tsx
Due: eslint --fix, prettier --write, git add -A

fix(lint): use template literals instead of string concatenation
  src/components/ComparateurPublicodes/usePublicodesEngine.tsx
  src/components/Map/components/ScaleLegend.tsx
Due: eslint --fix, prettier --write, git add -A

fix(lint): fix multiple lint issues in various components
  scripts/data-import/adapters/tests-adresses-legacy.ts
  src/components/Admin/TableFieldInput.tsx
  src/components/Coproprietaire/InterviewsVideos.tsx
  src/components/IFrame/Form/Eligibility.tsx
  src/components/IFrame/Map/IFrameMapIntegrationForm.tsx
Due: eslint --fix, prettier --write, git add -A

fix(lint): fix remaining noDoubleEquals and noUselessFragments errors
  src/components/Map/components/CardSearchDetails.tsx
  src/components/Map/components/MapMarker.tsx
Due: eslint --fix, prettier --write, git add -A

fix(lint): fix remaining lint issues in ContributionForm and disable noChildrenProp
  biome.jsonc
  src/components/ContributionForm/ContributionForm.tsx
Due: eslint --fix, prettier --write, git add -A

fix(lint): fix useConsistentArrayType in map layers and utils
  src/components/Map/StyleSwitcher/index.ts
  src/components/Map/components/AdminEditLegend.tsx
  src/components/Map/components/tools/DistancesMeasurementTool.tsx
  src/components/Map/layers/adressesEligibles.tsx
  src/components/Map/layers/batimentsRaccordesReseauxChaleurFroid.tsx
  src/components/Map/layers/besoinsEnChaleur.tsx
  src/components/Map/layers/besoinsEnChaleurIndustrieCommunes.tsx
  src/components/Map/layers/caracteristiquesBatiments.tsx
  src/components/Map/layers/communesFortPotentielPourCreationReseauxChaleur.tsx
  src/components/Map/layers/consommationsGaz.tsx
  src/components/Map/layers/customGeojson.tsx
  src/components/Map/layers/demandesEligibilite.tsx
  src/components/Map/layers/enrr-mobilisables/chaleurFatale.tsx
  src/components/Map/layers/enrr-mobilisables/friches.tsx
  src/components/Map/layers/enrr-mobilisables/parkings.tsx
  src/components/Map/layers/enrr-mobilisables/thalassothermie.tsx
  src/components/Map/layers/enrr-mobilisables/zonesGeothermieProfonde.tsx
  src/components/Map/layers/etudesEnCours.tsx
  src/components/Map/layers/geomUpdate.tsx
  src/components/Map/layers/geothermie/installationsGeothermieProfonde.tsx
  src/components/Map/layers/geothermie/installationsGeothermieSurface.tsx
  src/components/Map/layers/geothermie/ouvragesGeothermieSurface.tsx
  src/components/Map/layers/geothermie/perimetresGeothermieProfonde.tsx
  src/components/Map/layers/perimetresDeDeveloppementPrioritaire.tsx
  src/components/Map/layers/quartiersPrioritairesPolitiqueVille.tsx
  src/components/Map/layers/reseauxDeChaleur.tsx
  src/components/Map/layers/reseauxDeFroid.tsx
  src/components/Map/layers/reseauxEnConstruction.tsx
  src/components/Map/layers/ressourcesGeothermalesNappes.tsx
  src/components/Map/layers/testsAdresses.tsx
  src/components/Map/layers/typeChauffageBatimentsCollectifs.tsx
  src/components/Map/layers/zonesAUrbaniser.tsx
  src/components/Map/layers/zonesPotentielChaud.tsx
  src/components/Map/layers/zonesPotentielFroid.tsx
  src/components/ReseauxDeChaleurFilters.tsx
  src/components/ui/TableSimple.tsx
  src/services/TrelloService.ts
  src/utils/interval.spec.ts
  src/utils/typescript.ts
Due: eslint --fix, prettier --write, git add -A

fix(lint): fix noUselessFragments and useTemplate errors
  src/components/Manager/DemandEmailForm.tsx
  src/components/Map/components/MapLegendReseaux.tsx
  src/components/Map/components/tools/DistancesMeasurementTool.tsx
Due: eslint --fix, prettier --write, git add -A

fix(lint): fix noRedeclare, noImplicitAnyLet, and noArrayIndexKey errors
  src/components/Manager/DemandEmailForm.tsx
  src/components/Map/components/ModalCarteFrance.tsx
Due: eslint --fix, prettier --write, git add -A

fix(lint): fix remaining useTemplate, useConsistentArrayType, noUselessFragments, and noArrayIndexKey errors
  src/components/ComparateurPublicodes/Graph.tsx
  src/components/Map/components/ModalCarteFrance.tsx
  src/components/Map/components/tools/BuildingsDataExtractionTool.tsx
Due: eslint --fix, prettier --write, git add -A

Lint
  biome.jsonc
  src/components/ComparateurPublicodes/Graph.tsx
  src/components/Map/components/ModalCarteFrance.tsx
  src/components/Map/components/tools/BuildingsDataExtractionTool.tsx
  src/components/Map/components/tools/DistancesMeasurementTool.tsx
  src/components/Map/layers/batimentsRaccordesReseauxChaleurFroid.tsx
  src/components/Map/layers/geothermie/perimetresGeothermieProfonde.tsx
Due: eslint --fix, prettier --write, git add -A

Désactive les dernières règles biome embêtantes + lint
  biome.jsonc
  src/components/ComparateurPublicodes/Graph.tsx
  src/components/ComparateurPublicodes/useSimulatorEngine.tsx
  src/components/ui/ChipAutoComplete.tsx
  src/server/services/manager.ts
  src/services/airtable.ts
Due: eslint --fix, prettier --write, git add -A

Lint TS
  src/components/ComparateurPublicodes/ComparateurPublicodes.tsx
Due: eslint --fix, prettier --write, git add -A

Fix ts
  biome.jsonc
  src/components/ContributionForm/ContributionForm.tsx
  src/components/HeadSliceForm/HeadSliceForm.tsx
  src/components/Map/StyleSwitcher/index.ts
  src/components/Map/components/tools/DistancesMeasurementTool.tsx
  src/components/Map/components/tools/LinearHeatDensityTool.tsx
  src/modules/pro-eligibility-tests/client/ProEligibilityTestItem.tsx
  src/pages/mentions-legales.tsx
  src/pages/politique-de-confidentialite.tsx
  src/services/errors.ts
  src/utils/ogr2ogr.ts
Due: eslint --fix, prettier --write, git add -A

Fix ts kysely
  src/server/db/kysely/base-model.ts
Due: eslint --fix, prettier --write, git add -A

Fix script génération opendata [skip ci]
  scripts/opendata/create-opendata-archive.sh
Due: none

Migre la conf Prettier/ESLint vers Biome
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  biome.jsonc
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, git add -A

Supprime la popup de localisation au chargement de la carte
  src/components/Map/Map.tsx
Due: eslint --fix, prettier --write, git add -A

Supprime le hydration mismatch
  src/components/shared/page/SimplePage.tsx
Due: eslint --fix, prettier --write, git add -A

Met à jour les images pour fruggr
  .claude/agents/fruggr-sniper.md
  .claude/commands/fruggr-fix.md
  public/contents/FCU_cover_adreses-testees.jpg
  public/contents/FCU_cover_perimetres_geothermie.jpg
  public/img/FCU_Infographie_Avenir_small.jpg
  public/img/FCU_Infographie_Classement_small.jpg
  public/img/FCU_Infographie_Enrr_small.jpg
  public/img/collectivite-campagne-affiches.png
  public/img/collectivite-campagne-affiches.webp
  public/img/collectivite-iframe.jpg
  public/img/collectivite-prospecter-1.jpg
  public/img/webinaires/vignette_classement.png
  public/img/webinaires/vignette_initier.png
  public/logo-DRIEAT-white.png
  src/modules/optimization/commands/image-optimize-last-date.txt
  src/pages/collectivites-et-exploitants.tsx
Due: eslint --fix, prettier --write, git add -A

Mets prefetch à false par défaut
  src/components/ui/Link.tsx
Due: eslint --fix, prettier --write, git add -A

Fixe l'erreur de store au build
  src/modules/security/server/rate-limit.ts
Due: eslint --fix, prettier --write, git add -A

Maj conf biome pour linter plus de fichiers
  .vscode/settings.json
  biome.jsonc
Due: none

Maj next 15.3.2 => 15.5.4
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/components/ComparateurPublicodes/ComparateurPublicodes.tsx
  src/components/ComparateurPublicodes/ModesDeChauffageAComparer.tsx
  src/components/ComparateurPublicodes/ParametresDuBatimentGrandPublic.tsx
  src/components/Map/map-events.tsx
  src/components/connexion/RegisterForm.tsx
  src/hooks/useInitialSearchParam.ts
  src/hooks/useReseauxDeChaleurFilters.tsx
  src/pages/_app.tsx
  src/pages/collectivites-et-exploitants/potentiel-creation-reseau/[[...slug]].tsx
  tsconfig.json
Due: eslint --fix, prettier --write, git add -A

Lint fichiers de conf avec Biome
  knexfile.ts
  postcss.config.mjs
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.node.config.ts
  sentry.server.config.ts
  tailwind.config.ts
  vitest.config.mts
Due: eslint --fix, prettier --write, git add -A

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{mjs,js,jsx,ts,tsx}
  git add -A: any of: *.{mjs,js,jsx,ts,tsx}
